.offer{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -250px;
}

.offer__bg{
    font-size: 230px;
    color: rgb(141, 154, 168);
    opacity: 0.1;
    letter-spacing: 10px;
    line-height: 1;
    position: absolute;
}

.offer__title{
color: white;
font-size: 55px;
width: 516px;
letter-spacing: 6px;
font-weight: normal;
position: relative;
margin-left: 134px;
margin-top: 110px;


&::after{
    content: '';
    display: block;
    background-color: white;
    height: 5px;
    width: 50px;
    position: absolute;
    right: 130px;
    top: 0;
}
}

.offer__text{
    margin-top: 45px;
    font-size: 17px;
    width: 377px;
    color: white;
    font-weight: 300;
    margin-left: 250px;
    line-height: 1.5;
}
