.scroll{
    display: block;
    font-size: 22px;
    border-right: 3px solid white;
    height: 120px;
    padding-right: 40px;
    padding-top: 20px;
    color: white;
    width: 100px;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 5%;
    transition: color 0.2s linear;

    &:hover{
        color: rgb(126, 126, 126);
    }
}